.input {
  height: 48px;
  padding: 0 0.75em;
  border-radius: 2px;
  -webkit-appearance: none;
  min-width: 100%;
  background-color: #fff;
  border: 1px solid #dfe0e6;
  color: #1c1c1f;
  font-size: 0.9375em;
  line-height: normal;
  margin: 0;
  font: inherit;
  box-sizing: border-box;
}