@font-face {
  font-family: 'Cereal';
  font-style: normal;
  font-weight: 100;
  src: url('./font/AirbnbCereal-Light.ttf');
  src: local('Cereal'), local('Cereal'),
    url('./font/AirbnbCereal-Light.ttf') format('truetype');
}

@font-face {
  font-family: 'Cereal';
  font-style: normal;
  font-weight: 300;
  src: url('./font/AirbnbCereal-Medium.ttf');
  src: local('Cereal'), local('Cereal'),
    url('./font/AirbnbCereal-Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'Cereal';
  font-style: normal;
  font-weight: 500;
  src: url('./font/AirbnbCereal-Book.ttf');
  src: local('Cereal'), local('Cereal'),
    url('./font/AirbnbCereal-Book.ttf') format('truetype');
}

@font-face {
  font-family: 'Cereal';
  font-style: normal;
  font-weight: 700;
  src: url('./font/AirbnbCereal-Bold.ttf');
  src: local('Cereal'), local('Cereal'),
    url('./font/AirbnbCereal-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Cereal';
  font-style: normal;
  font-weight: 800;
  src: url('./font/AirbnbCereal-ExtraBold.ttf');
  src: local('Cereal'), local('Cereal'),
    url('./font/AirbnbCereal-ExtraBold.ttf') format('truetype');
}

@font-face {
  font-family: 'Cereal';
  font-style: normal;
  font-weight: 900;
  src: url('./font/AirbnbCereal-Black.ttf');
  src: local('Cereal'), local('Cereal'),
    url('./font/AirbnbCereal-Black.ttf') format('truetype');
}

body {
  margin: 0;
  padding: 0;
  line-height: 1.5;
  font-family: 'Cereal';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.container {
  width: 1170px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}
